<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <script src="../public/lib/react.min.js"></script>
    <script src="../public/lib/react-dom.min.js"></script>
    <script src="../public/lib/babel.min.js"></script>
    <script src="../public/lib/jquery-3.2.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

</head>

<body>
<div id="root"></div>

<!-- This script adds the Roboto font to our project. For more detail go to this site:  http://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,500 -->

<script src="../public/js/ajax.js" type="text/babel"></script>
</body>
</html>